body {width: 250px;}

#myInput {width: 75%;}

#add-button {width: 22%;}

.result-area {height: 150px;}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
